Source: lliurex-store-blacklist
Section: admin
Priority: optional
Maintainer: Equipo LliureX <lliurex@gva.es>
Uploaders: M.Angel Juan <m.angel.juan@gmail.com>, Raul Rodrigo Segura <lliurex_devel3@edu.gva.es>,  David Montalva Furio <montalva_dav@gva.es>, Hector Garcia Huerta <lliurex_devel1@edu.gva.es>, Daniel Duran Vecino <daduve@gmail.com>, Juanma Navarro <juanma1980@gmail.com>
Build-Depends: llxsrchelper,debhelper (>= 7.0),python3-all, llxcfg-dev
Standards-Version: 3.9.5

Package: lliurex-store-blacklist
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, python3-lliurex-store, lliurex-store
Replaces: lliurex-store (<<0.3)
Breaks: lliurex-store (<<0.3)
Description: LliureX Software Store

